
@import "tailwindcss";

:root {
  --background: #F5F2F1;
  --foreground: #000;
  --green: #83A682;
  --swiper-navigation-color: #83A682;
  --swiper-pagination-color: #83A682;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F2F1;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.4rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.0rem;
}
